@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post" asp-action="Register" asp-controller="UserAccounting">
    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <label asp-for="LastName"></label>
    <input asp-for="LastName" />
    <span asp-validation-for="LastName"></span>
    <br />

    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br />


    <div class="g-recaptcha" data-sitekey="6Lc4PB8qAAAAAFw0byaz-6OL4eWbLFzBbizvFrnn"></div>
    <br />


    <label asp-for="phoneNumer"></label>
    <input asp-for="phoneNumer" />
    <span asp-validation-for="phoneNumer"></span>
    <br />

    <input type="submit" value="ثبت نام" />

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    }
}