@{
    ViewData["Title"] = "Dashboarrd";

}

<h1>داشبورد</h1>



<div>@ViewBag.UserFullName &nbsp <a asp-action="Logout" asp-controller="AdminAccounting">خروج</a></div>




<br />
<div >
    <a asp-action="ManageShow" asp-controller="ShowManagement">مدیریت اجرا ها</a>
    <br />
    <a asp-action="Playermanage" asp-controller="PlayerManagement">مدیریت بازیکنان</a>
</div>