@model AddTeamViewModel
@{
    ViewData["Title"] = "AddTeam";
}

<h1>AddTeam</h1>
<form method="post" asp-action="AddTeam" asp-controller="TeamManagement">
    <div asp-validation-summary="ModelOnly"></div>
    <br />

    <label asp-for="TeamName"></label>
    <input asp-for="TeamName" />
    <span asp-validation-for="TeamName"></span>
    <br />

    <label asp-for="SelectedCoachId"></label>
    <select asp-for="SelectedCoachId">
        @foreach(var coach in Model.Coach)
        {
            <option value="@coach.Id">@coach.Name &nbsp @coach.LastName</option>
        }
    </select>
    <span asp-validation-for="SelectedCoachId"></span>
    <br />

     <input type="submit" value="افزودن" />
</form>

