@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>ورود به پنل ادمین</h1>

<form asp-action="Login" asp-controller="AdminAccounting">
    <div asp-validation-summary="ModelOnly"></div>
    <br />


    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" />
    <br />

    <input type="submit" value="ورود به حساب کاربری " />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}